.add-input{
    border: none;
    border-bottom: 2px solid blue;
    background-color: hsla(0, 0%, 0%, 0.6);
    color:blanchedalmond;
    margin:25px;
}

.textArea{
  height: 100px;
  border: blue;
  border-style: solid;
  background-color: hsla(0, 0%, 0%, 0.7);
  margin:25px;
  color: blanchedalmond;
  
}
.addMovie-flex-setting{
    display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	align-content: stretch;
}
h1{
    font-family: Monoton;
    font-size:35px;
    margin:25px;
}
